@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
    font-family: "Outfit", sans-serif;
}

html,
body,
#root {
    min-height: 100%;
}

body {
    @apply antialiased text-slate-800 bg-slate-50;
}

@layer base {
    button {
        @apply cursor-pointer;
    }

    input:not([type="checkbox"]) {
        @apply rounded-lg border border-slate-300 bg-white/90 px-3 py-2 text-slate-700 shadow-sm outline-none transition-all duration-200 focus:border-cyan-500 focus:ring-4 focus:ring-cyan-100;
    }

    textarea {
        @apply rounded-lg border border-slate-300 bg-white/90 px-3 py-2 text-slate-700 shadow-sm outline-none transition-all duration-200 focus:border-cyan-500 focus:ring-4 focus:ring-cyan-100 resize-none;
    }
}
